<div class="alert alert-success" role="alert">
<%= flash[:success] %>
</div>
<br>
<h1>Bienvenue sur notre app top-secrète</h1>

<p>Si tu veux connaître le contenu top-secret, il va falloir <a href="/users/new">t'inscrire</a></p>
<br>
<p><a href="/secret_page">La page top secrète</a></p>
