<% if flash.to_h.has_key?('success') %>
<div class="alert alert-success" role="alert">
<%= flash[:success] %>
</div>
<% else end %>
<html>
<p>La réponse à la question de l'univers est : 42 !</p><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
</html>
