<html>
<% if logged_in?
  
else
  redirect_to "login_path"
end
%>
<p>La réponse à la question de l'univers est : 42 !</p><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
<marquee>42</marquee><br><br>
</html>
