<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text">Signed in as Mark Otto</p>
    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
  </nav>
</header>